<%= render("shared/nav") %>

<div id="R">

    <%= render("shared/search") %>

    <div class="box">
        <a onclick="window.history.back()" class="back">もどる</a>
        <aside><%= @user.name %>
        <% if( @user.admin ) %>
            <span class="flag">管理者</span>
        <% end %>
        さんのマイページ</aside>
        <div class="mini-title">アカウント情報</div>
        <div class="ticket">
            <form>お名前：<%= @user.name %></form>
            <%= link_to("変更", edit_user_path, class: "ticket_buy" ) %>
        </div>
        <div class="ticket">
            <form>電話番号：<%= @user.tel %></form>
            <%= link_to("変更", edit_user_path, class: "ticket_buy" ) %>
        </div>
        <div class="ticket">
            <form>パスワードの変更</form>
            <%= @user.password %>
            <%= link_to("変更", edit_user_path, class: "ticket_buy" ) %>
        </div>
        <div class="mini-title">購入履歴</div>
        <% if( @logs.count == 0 ) %>
        購入履歴はありません
        <% else %>
            <% @logs.each do |l| %>
                <div class="ticket ticket_log">
                    チケット：
                    <strong><%= link_to( Event.find(Ticket.find(l.ticket_id).event_id).name, event_path( Ticket.find(l.ticket_id).event_id), class: "hl" ) %></strong>
                     - <%= Ticket.find(l.ticket_id).kind %><br>
                    枚数：<%= l.quantity %>枚　購入者：<%= User.find(l.user_id).name %><br>
                    購入日時：<%= l.created_at %>
                </div>
            <% end %>
        <% end %>
        <div class="mini-title">退会</div>
        退会する場合は下のボタンを押下してください<br>
        <%= button_to("退会する", user_path, method: :delete, data: { confirm: "本当に退会しますか？" }) %>
    </div>
</div>