<%= render("shared/nav") %>

<div id="R">

    <%= render("shared/search") %>

    <div class="box">
        <aside>管理ページ(管理者専用)</aside>
        <div class="ticket ticket_log">
        <%= link_to( "🎫ライブ一覧", admin_events_path, class: "hl" ) %><br>
        ライブを追加またはライブにチケットを追加します
        </div>
        <div class="ticket ticket_log">
        <%= link_to( "🕒全購入履歴", admin_logs_path, class: "hl" ) %><br>
        全ての購入履歴を確認します
        </div>
        <div class="ticket ticket_log">
        <%= link_to( "👤ユーザー一覧", admin_users_path, class: "hl" ) %><br>
        すべてのユーザーおよびユーザー情報を表示します
        </div>
    </div>
</div>