<%= render("shared/nav") %>

<div id="R">

    <%= render("shared/search") %>

    <div class="box">
        <aside><%= @asideTitle %></aside>
        <% @events.each do |l| %>
        <a href="/events/<%= l.id %>">
        <div class="event">
            <div class="event-name">
                <% if( l.available ) %>
                <span class="event-o">⭕</span>
                <% else %>
                <span class="event-o">❌</span>
                <% end %>
            <%= l.name %>
            <div class="event-date"><%= l.date %></div>
            <div class="event-hall"><%= l.hall %></div>
            <div class="event-artist"><%= l.artist %></div>
            </div>
            <div class="event-comment"><%= l.comment %></div>
        </div>
        </a>
        <% end %>

        <% if( @events.count == 0 ) %>
        <div>条件に一致するライブは見つかりませんでした。
        <% end %>

    </div>
</div>