<%= render("shared/nav") %>

<div id="R">

    <%= render("shared/search") %>

    <div class="box">
        <aside>最新の5件</aside>
        <% @events.each do |l| %>
        <div class="event">
            <div class="event-name">
                <% if( l.available ) %>
                <span class="event-o">○</span>
                <% else %>
                <span class="event-o">x</span>
                <% end %>
            <%= l.name %>
            </div>
            <div class="event-artist"><%= l.artist %></div>
            <div class="event-hall"><%= l.hall %></div>
            <div class="event-name"><%= l.comment %></div>
        </div>
        <% end %>

    </div>
</div>