<%= render("shared/nav") %>

<div id="R">

    <%= render("shared/search") %>

    <div class="box">
        <a onclick="window.history.back()" class="back">もどる</a>
        <aside>ユーザー一覧(<%= @users.count %>件)</aside>
        全ユーザーの一覧です(管理者用)。
        <% @users.each do |u| %>
        <div class="ticket ticket_log">
            <div style="font-size:22px">
                👤<%= link_to( u.name, admin_user_path( u.id ), class: "hl" ) %>
                <% if( u.admin ) %>
                    <span class="flag">管理者</span>
                <% end %>
            </div>
            📞電話番号：<%= u.tel %>
            <br>🕒登録日時：<%= u.created_at %>
        </div>
        <% end %>
    </div>
</div>