<%= render("shared/nav") %>

<div id="R">

    <%= render("shared/search") %>

    <%= form_for( @log ) do |f| %>

    <div class="box">
        <a onclick="window.history.back()" class="back">もどる</a>
        <aside><%= @event.name %></aside>

        <% if( @ticket.total - @logs.sum(:quantity) <= 0 ) %>

        このチケットは完売したため購入することはできません。

        <% else %>

        <%= @event.artist %>／<%= @event.hall %>

        <div class="ticket ticket_log">
        選択したチケット：<strong><%= @ticket.kind %></strong>
        </div>
        残り：<%= @ticket.total - @logs.sum(:quantity) %>枚／総数：<%= @ticket.total %>枚
        <div class="ticket">
            <div class="form"><%= @ticket.price.to_s(:delimited) %>円
            <% array = [] %>
            <% (@ticket.total - @logs.sum(:quantity)).times do |o| %>
                <% array.push(o+1) %>
            <% end %>
            <%= f.select( :quantity, array.each{|t| [t]} ) %>枚
            </div>
            <a class="ticket_buy" onclick="confToggle()">購入</a>
        </div>
        <%= f.text_field( :ticket_id, value: @ticket.id, class: "hidden" ) %>

        <% end %>
    </div>

    <div id="conf" class="hidden">
        <div class="mini-title">確認<a class="conf-close" onclick="confToggle()">x</a></div>
        <% if( !account ) %>
            ログインしてください。
        <% else %>
            内容を確認してください。<br>
            ユーザー名：<strong><%= account.name %></strong>さん<br>
            ライブ名：<strong><%= @event.name %></strong><br>
            アーティスト：<strong><%= @event.artist %></strong><br>
            会場名：<strong><%= @event.hall %></strong><br>
            指定チケット：<strong><%= @ticket.kind %></strong><br>
            単価：<strong id="nedan"><%= @ticket.price %></strong>円 ✕ 枚数：<strong id="maisuu"></strong>枚<br>
            <div id="price-sum"></div>
            <%= f.submit( "購入を確定する", class: "button-large" ) %>
        <% end %>
    </div>

    <% end %>

</div>