<!DOCTYPE html>
<html>
<head>
  <title>ちけっとや</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
<a id="logo" href="/">ちけっとや</a>　チケット販売システム
<div id="account">
<%= link_to("全てのチケットを見る", events_path, q: "") %>
<a id="account_login">ログイン</a>
<%= link_to("新規登録", new_user_path, id: "account_signup") %>
</div>
<% if(flash.notice) %>
<div class="notice" id="notice">
<%= flash.notice %>
<a id="notice-close" onclick="document.getElementById('notice').style.display = 'none'">OK</a>
</div>
<% end %>
</header>

<%= yield %>

</body>
</html>