<!DOCTYPE html>
<html>
<head>
  <title>ちけっとや</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
<a id="logo" href="/">ちけっとや</a>　チケット販売システム
<div id="account">
<%= link_to("全てのチケットを見る", events_path, q: "") %>
<a id="account_login">ログイン</a>
<a id="account_signup">新規登録</a>
</div>
</header>

<%= yield %>

</body>
</html>